@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700&family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
}

.navbar_logo {
    font-family: 'Inknut Antiqua', serif;
    font-weight: 600;
    font-size: 32px;
    color: #934b00;
    text-shadow: .5px 1px black;
    text-decoration: none;
}

.navbar_logo span {
    color: #ff7f11;
    font-family: 'Inknut Antiqua', serif;
}

.nav-item {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin-right: 2px;
}

.nav-item i {
    margin-right: 8px;
}

.hero-header {
    background-image: linear-gradient(rgb(0, 0, 0, 0.7), rgb(0, 0, 0, 0.7)), url(../img/interna_restaurante-1-1400x700.jpg);
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.btn {
    background: #ff7f11;
    color: white;
    transition: all .4s ease;

}

.btn:hover {
    background: #934b00;
}

.about-section {
    height: 60vh;
}

.col {
    margin-top: 3.5rem;
}

.col h2 {
    color: #ff7f11;
    margin-bottom: 2rem;
    font-size: 45px;
}

.col p {
    color: #934b00;
    font-size: 18px;
}

.col img {
    width: 70%;
    border: 4px solid #934b00;
}


@media screen and (max-width: 1200px) {
    .col img {
        width: 90%;
    }
}

@media screen and (max-width: 992px) {
    .about-section {
        height: 110vh;
    }
    
    .gx-5 {
        display: flex;
        flex-direction: column;
    }

    .col img {
        width: 70%;
    }
    
    .col p {
        font-size: 18px;
    }

}

@media screen and (max-width: 768px) {
    .col img {
        width: 90%;
    }
}
