.header-reserva {
    color: #ff7f11;
    height: 90vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.664), rgba(0, 0, 0, 0.884)), url(../../../assets/img/post_thumbnail-5119340b39b314917440ed22562078eb.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header-reserva h1 {
    font-size: clamp(1.75em, 1.5em + 3vw, 3.5em);
    text-align: start;
}

.header-reserva a {
    color: #ff7f11;
    transition: .3s ease;
}

.header-reserva a:hover {
    color: #934c008a;
}

.formulario-reserva h1 {
    color: var(--cor-prinipal);
}

.formulario-reserva label {
    color: #ff7f11;
}

.formulario-reserva .span-required {
    color: #e63636;
    display: none;
}

.btn-modal {
    background-color: transparent;
    border: none;
    text-decoration: underline; 
    color: #934b00;
    padding: 0;
}

.btn-modal:hover {
    background-color: transparent;
}

.modal-content {
    color: #ff7f11 !important;
}

.inputcep p {
    color: #ff7f11;
}

.cidade {
    color: #ff7f11;
    margin-top: 7px;
}

.options-box {
    position: absolute;
    width: 200px; 
    padding: 7px 12px;
    background-color: #fff;
    border: 1px solid #ccc;
    font-weight: 500;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    display: none;
}

.option-item {
    cursor: pointer;
    padding: 5px;
  }
  
.option-item:hover {
    background-color: var(--cor-prinipal); /* Cor de fundo ao passar o mouse */
}

input:focus:invalid {
    border-color: red;
}

input:valid {
    border: 2px solid green;
}

input:focus:invalid ~ .span-required {
    display: block;
}

#gridCheck input:invalid {
    border-color: #e63636;
}